body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 150%;
    color: #40514E;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

p {
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    position: relative;
    background-color: #E4F9F5;
    padding-top: 100px;
    height: 800px;

}

.middle-container {
    margin: 100px 0px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}

.pro {
    text-decoration-line: underline;
    color: peru;
}

.about {
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}

.images-sections {
    width: 250px;
    height: 250px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.cyber-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.dj-image {
    width: 35%;
    float: right;
    margin-left: 30px;
}

.cyber-description {
    clear: left;
}

.dj-description {
    clear: right;
}

.contact-massage {
    width: 40%;
    margin: 40px auto 60px;
}

.official {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

a {
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #119993);
    background-image: -moz-linear-gradient(top, #11cdd4, #119993);
    background-image: -ms-linear-gradient(top, #11cdd4, #119993);
    background-image: -o-linear-gradient(top, #11cdd4, #119993);
    background-image: linear-gradient(to bottom, #11cdd4, #119993);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}